# Composer Related
composer.lock
/vendor

# Frontend Assets
/node_modules

# Logs
npm-debug.log
yarn-error.log

# Caches
.phpunit.cache
.phpunit.result.cache
/build

# IDE Helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# Bun
bun.lock

# Editors
/.idea
/.fleet

# macOS
.DS_Store

# Misc
phpunit.xml
phpstan.neon
testbench.yaml
/docs
/coverage
